*{
    box-sizing: content-box;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 50px 150px;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

div.wrapper {
   background-color: white;
   border-radius: 15px;
   margin: 20px;
   padding: 15px;
   

}

.background{
    background-image: linear-gradient(to left,#f17ba9, #bee4ed);
    max-width: 645px;
    min-height: 650px;
    padding: 6px;
    margin: auto;
}

nav.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

li {
    list-style-type: none;
}

ul.navigation {
    display: flex;
}

ul.navigation li {
    margin-left: 25px;
    font-size: 10px;
}

ul.navigation li a {
    color: black;
    font-size: 10px;
}

ul.navigation li button {
    color: white;
    background-color: black;
    padding: 5px 12px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 10px;
   max-width: 70px;
}

.intro-image img {
   max-width: 200px;
    max-height: 200px;
}

div.intro {
    margin-bottom: 30px;
}

div.intro-text {
    margin-left: 22px;
    max-width: 380px;
  }

div.about {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

div.about-text {
    max-width: 300px;
}

div.about-skills span {
    display: flex;
   max-width: 250px;
}

div.about-skills span li {
    margin: 3px;
    text-transform: uppercase;
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    padding: 2px;
    font-size: 13px;
}
.intro-flex{
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 60px;
}
.name{
    font-size: 13px;
}

@media  screen and (max-width:793px) {
    
    nav.nav {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        align-items: flex-start;
    }
    ul.navigation {
        margin-left: -5.5em;
        font-size: 8px;
    }
    ul.navigation li button {
        color: white;
        background-color: purple;
        padding: 3px 7px;
        font-size: 8px;
       max-width: 70px;
      
    }
    ul.navigation li {
        margin-left: 5px;
    }
    .intro-flex{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        font-size: 12px;
    }
    .intro-image img {
       align-items: baseline;
       max-width: 100px;
     } 
     
    div.about {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    div.about-text {
        max-width: 380px;
        margin-left: 22px;
    }
    div.about-skills span {
        margin-left: 20px;
        padding-top: 5px;
        
    }
    div.about-skills span li {
        font-size: 10px;
    }
    div.about-skills {
      margin-left: -2em;
      margin-bottom: -5em;
      max-width: 380px;
    }
    .name{
        font-size: 11px;
        color: rgb(163, 163, 7);
    } 
}